**/.dart_tool/
**/build/
**/.gradle/
**/.idea/
**/ephemeral/
**/local.properties
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/*.iml

**/.env
**/.env.*
!**/.env.example
**/key.properties
**/*.jks
**/*.keystore

**/.cxx/
